body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; 
  color: $grey-dark;
}


.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: left;

  &--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include resp(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out;
    @include resp(phone) {
      letter-spacing: .53rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 700;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include resp(tab-port) {
    font-size: 2.9rem;
  }
  @include resp(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}